.center{
	text-align: center;
}
.pad_top{
	padding-top: 50px;

}

a:hover { 
	border-color: #ffff;
 }

.twitter{
	color:#0ecfed;
	font-family: monoton;
	word-wrap: break-word;
}

 a{
    text-decoration:none;
}

.navbarS {
	color:white;
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}


a h1 {
	background-color: black;
	  -webkit-text-stroke: 1px red;
	 text-shadow: 2px 2px 5px red;
	 border: 1px solid red;
    border-radius: 12px;
    box-shadow: 3px 3px grey;



}

hr {
	color: white;

}


.whitetext{
	color:white;
}


img {
    width: 100%;
    border-radius: 5px;
}


@media screen and (max-width: 990px){


#content-desktop {
	visibility: hidden;
}


#content-mobile {
	visibility: show;
}


}

.background{

	background-color: #262626;
}

.title{
	color:blue;
	font-family: monoton;
	word-wrap: break-word;
}

.pad_side{

	padding-left: 10px;
	padding-right: 10px;

}

.staythere{
	width:100%;
}

.seeing {
	word-wrap: break-word;
    background-color: #ffffff;
    border-radius: 5px;
}

.mapstyle {
	border: 1px solid white;
	border-radius: 5px;
}
.wavy {
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}


.spacepls{

	padding:20px;
}